<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title justify-content-center" id="exampleModalCenterTitle">Proveedor</h5>
            </div>
            <div class="modal-body">
              <div class="md-form">
                <i class="fas fa-user-alt prefix"></i>
                <input type="text" id="provider-name" class="form-control" mdbInput>
                <label for="provider-name">Alias/Nombre</label>
              </div>
              <div class="md-form">
                <i class="fas fa-mobile-alt prefix"></i>
                <input type="text" id="provider-phone" class="form-control" mdbInput>
                <label for="provider-phone">Celular</label>
              </div>
              <div class="d-flex justify-content-around ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Omitir</button>
                <button type="button" class="btn btn-primary">Guardar</button>
              </div>
            </div>
        </div>
    </div>
</div>