// ESPACIADO ENTRE INPUTS EN MOBILE
.input-form{
    margin-top: 0;
    margin-bottom: 30px;
}



// POSICIONAMIENTO DE LOS ICONOS DEL FOOTER-FIXED
.submenu-fixed a{
    display: block;
    line-height: 60px;
    font-size: 10px;
    line-height: 40px;
    color: #4285F4;
}
.submenu-fixed i{
    font-size: 25px;
    display: block;
    line-height: 0;
}
.submenu-fixed-item{
    padding-top: 25px;
}

.header-content h3, h5{
    margin: 0;
}



//  MODAL
.btn-close-modal{
    position: absolute;
    top: 5px;
    right: 15px;
}

.header-form-modal label,p{
    margin: 0;
}

.input-form-modal{
    margin-bottom: 0;
}

.select-form-modal label{
    margin-bottom: 3px;
    font-size: 14px;
    
}



//  ICONOS ATRAS ADELANTE
.content-card{
    padding: 10px 60px;
}

.content-card-direction{
    position: absolute;
    top: 43px;
    left: 0;
    color: #4285F4;
}
.content-card-direction a{
    font-size: 10px;
    display: flex;
    justify-content: center;
    line-height: 10px;
}
.content-card-direction i{
    font-size: 25px;
    position: absolute;
    top: -26px;
}