<div class="container-fluid header-content sticky-top">
    <div class="row">
        <div class="card col-md-12 content-card">
            <div class="row d-flex align-items-center">
                <div class="col d-flex justify-content-between content-card-direction">
                    <div class="text-center">
                        <a [routerLink]="['/buyers/1']" class="" >
                            <i class="fas fa-arrow-circle-left"></i>
                            Atras
                        </a>
                    </div>
                    <div class="text-center">
                        <a [routerLink]="['/buyers/1/1']">
                            <i class="fas fa-arrow-circle-right"></i>
                            Siguiente<br>celular
                        </a>
                    </div>
                </div>
                <div class="col">
                    <h5>Samsung A10</h5>
                    <p>Codigo: 7</p>
                </div>

                <div class="col">
                    <h5>costo</h5>
                    <p><b>s/ 120.00</b></p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid body-content">
    <div class="row">
        <div class="card col-md-12">
            <div class="row">
                <div class="card-body">
                    <div class="body">

                        <div class="row d-flex align-items-center">
                            <div class="col-sm-6">
                                <label for="state">Estado</label>
                                <select class="form-control input-form" id="state">
                                    <option>Verificando</option>
                                    <option>Disponible</option>
                                </select>
                            </div>

                            <div class="col-sm-6">
                                <label for="brand">Marca</label>
                                <select class="form-control input-form" id="brand">
                                    <option>Samsung</option>
                                    <option>Huawei</option>
                                    <option>Motorola</option>
                                    <option>LG</option>
                                </select>
                            </div>

                        </div>

                        <div class="row d-flex align-items-center">
                            <div class="col-sm-6">
                                <div class="md-form input-form">
                                    <input type="text" id="model" class="form-control" mdbInput value="S10 plus">
                                    <label for="model">Modelo</label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="md-form input-form">
                                    <input type="number" id="price_buy" class="form-control" mdbInput value="100">
                                    <label for="price_buy">Precio compra</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="md-form input-form">
                                    <input type="number" id="price_sale_min" class="form-control" mdbInput value="300">
                                    <label for="price_sale_min">Precio venta min</label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="md-form input-form">
                                    <input type="number" id="price_sale_max" class="form-control" mdbInput value="350">
                                    <label for="price_sale_max">Precio venta max</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8 col-sm-6">
                                <div class="md-form input-form">
                                    <input type="text" id="mac" class="form-control" mdbInput value="ASD6AS5D4A6SDA776">
                                    <label for="mac">MAC (codigo unico)</label>
                                </div>
                            </div>

                            <div class="col-4 col-sm-6 d-flex justify-content-center align-items-center">
                                <div class="form-check input-form">
                                    <input class="form-check-input" type="checkbox" value="" id="detail">
                                    <label class="form-check-label" for="detail">
                                        Detalle
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid fixed-bottom sticky-top">
    <div class="row">
        <div class="card col-sm-12 mb-0">
            <div class="row d-flex justify-content-between">

                <div class="col text-center submenu-fixed-item ">
                    <a data-toggle="modal" data-target="#modal-repair">
                        <i class="fas fa-cog"></i>
                        Mantenimiento
                    </a>
                </div>

                <div class="col text-center submenu-fixed-item">
                    <div class="navbar-nav">
                        <a data-widget="pushmenu" href="#" role="button">
                            <i class="fas fa-bars"></i>
                            Menú
                        </a>
                    </div>
                </div>

                <div class="col text-center submenu-fixed-item">
                    <a [routerLink]="['/buyers/1/1']"  >
                        <i class="far fa-save"></i>
                        Guardar
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>



<div class="modal" role="dialog" id="modal-repair">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-12 text-center">
                        <label>Reparación</label>
                    </div>

                </div>
                <div class="btn-close-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>

                <div class="row">
                    <div class="col-8 ">
                        <div class="md-form input-form-modal">
                            <input type="text" id="type-repair" class="form-control " mdbInput value="Cambio táctil">
                            <label for="type-repair">Tipo reparación</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form input-form-modal">
                            <input type="text" id="preice-repair" class="form-control" mdbInput value="70">
                            <label for="preice-repair">Precio</label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-8 select-form-modal">
                        <label for="technical">Técnico</label>
                        <select class="form-control" id="technical">
                            <option>Dante</option>
                            <option>Chulls</option>
                        </select>
                    </div>

                    <div class="col-4 d-flex align-items-center">
                        <button class="btn-sm btn-primary">Agregar</button>
                    </div>
                </div>

                <div class="row">
                    <div class="table-responsive-sm mt-2 col-12">
                        <table mdbTable mdbTableScroll scrollY="false" maxHeight="">
                          <thead>
                            <tr>
                              <th scope="col" class="align-middle text-center">Reparación</th>
                              <th scope="col" class="align-middle">Precio</th>
                              <th scope="col" class="align-middle">Técnico</th>
                              <th scope="col" class="align-middle">Fecha</th>
                              <th scope="col" class="align-middle text-center">Acción</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="align-middle">Cambio tactil</td>
                              <td class="align-middle">s/70</td>
                              <td class="align-middle">Dante</td>
                              <td class="align-middle">02/02</td>
                              <td class="align-middle text-center">
                                <a [routerLink]="['/buyers/1/1']"  >
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                              </td>
                            </tr>


                          </tbody>
                        </table>
                      </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                  </div>
            </div>
        </div>
    </div>
</div>
