<div class="modal fade" id="modalViewBuy" tabindex="-1" role="dialog" aria-labelledby="modalViewBuy"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="container-fluid">

              <div class="modal-header">
                <!-- <h5 class="modal-title justify-content-center" id="modalViewBuy">Proveedor</h5> -->
                <div class="row">
                  <div class="col-6">
                    <p>30 Feb 2020</p>
                  </div>
                  <div class="col-6">

                  </div>
                </div>
              </div>
  
              <div class="modal-body">
  
                <div class="md-form">
                  <mdb-icon fas icon="user-alt" class="prefix"></mdb-icon>
                  <input type="text" id="provider-name" class="form-control" mdbInput>
                  <label for="provider-name">Alias/Nombre</label>
                </div>
                <div class="md-form">
                  <mdb-icon fas icon="mobile-alt" class="prefix"></mdb-icon>
                  <input type="text" id="provider-phone" class="form-control" mdbInput>
                  <label for="provider-phone">Celular</label>
                </div>
                <div class="d-flex justify-content-around ">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Omitir</button>
                  <button type="button" class="btn btn-primary">Guardar</button>
                </div>
  
              </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>


<!-- <div class="col-md-2 mt-4 mt-md-0 p-0 text-center float-right ">
    <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModalCenter">
      <i class="far fa-money-bill-alt mr-2" data-target="#exampleModalCenter"></i>
      Pagar
    </button>
  </div> -->