<section>
  <div class="container-fluid">
    <div class="row">
      <div class="card col-12 p-0">
        <div class="card-body">

          <div class="row">

            <div class="col-md-3">
              <div class="md-form">
                <input type="text" id="model-buyer" class="form-control" mdbInput>
                <label for="model-buyer">Modelo</label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="md-form">
                <input type="text" id="price-buyer" class="form-control" mdbInput>
                <label for="price-buyer">Precio compra</label>
              </div>
            </div>

            <div class="col-md-2 d-flex align-items-center">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="detail-buyer">
                <label class="form-check-label" for="detail-buyer">Detalle</label>
              </div>
            </div>

            <div class="col-md-2 d-flex align-items-center text-center mt-3 mt-md-0">
              <a class="btn btn-primary btn-block" id="btn-add-buyer">Agregar</a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>