<div class="sticky-top">
  <!-- NAVBAR -->
  <nav class="nav navbar-dark bg-primary justify-content-between content-create-nav">
    <a class="nav-link" [routerLink]="['/buyers']" >
      <i class="fas fa-arrow-left"></i>
    </a>
    <h5 class="nav-link title-general">
      Agregar compra
    </h5>
    <a class="nav-link" data-widget="pushmenu" role="button">
      <i class="fas fa-ellipsis-v"></i>
    </a>
  </nav>
  <!-- ------------------------------- -->
  <div class="container content-create-title padding-all">
    <!-- LISTA Y TOTAL -->
    <div class="row content-create-header p-0">
      <div class="col-12 d-flex justify-content-center" [ngClass]="{'justify-content-between': toggleTotal}">
        <h4 >Lista {{getParamsBuyerId}}</h4>
        <h4 class="text-center" *ngIf="toggleTotal">
          Total: s./ {{totalBuyer}}
          <p>{{ newBuyerArray.length }} u </p>
        </h4>
      </div>
    </div>
  <!-- ------------------------------- -->

    <!-- CABECERA DE CARD -->
    <div class="row content-create-header">
      <div class="col-3">#</div>
      <div class="col-4">MODELO</div>
      <div class="col-2 text-left">DETALLE</div>
      <div class="col-3 text-center">PRECIO</div>
    </div>
    <!-- ------------------------------- -->
  </div>

</div>



<div class="container content-create">

<!-- CARD PARA CADA CELULAR DE LA LISTA -->
  <div class="card pointer" data-toggle="modal" data-target="#editItemBuyModal"
  *ngFor="let mobil of newBuyerArray; index as i" (click)="editMobil(mobil)">
    <div class="card-body p-0">
      <div class="row content-create-card">
        <div class="col-3 p-0">{{i+1}}</div>
        <div class="col-4">{{mobil.model}}</div>
        <div class="col-2 text-center">
          <i class="fas fa-check" *ngIf="mobil.detail"></i>
        </div>
        <div class="col-3 text-center pl-1">s/ {{mobil.price_buyer}}</div>
      </div>
    </div>
  </div>
  <!-- ------------------------------- -->


  <!-- FORMULARIO -->
  <div class="card content-create-form d-none"
  [class.d-none]="!toggleForm">
    <div class="card-body p-0">
      <form [formGroup]="newBuyerForm">
        <div class="row">
            <div class="col-sm-6">
              <div class="md-form" [class.invalid-div]="toggleInvalidModel">
                <input type="text" class="form-control" mdbInput placeholder="Modelo" tabindex="1"
                formControlName="model" [class.invalid-input]="toggleInvalidModel">
              </div>
            </div>
            <div class=" col-8 col-sm-6">
              <div class="md-form" [class.invalid-div]="toggleInvalidPrice">
                <input type="number" class="form-control" mdbInput placeholder="Precio compra" tabindex="2"
                formControlName="price_buyer" [class.invalid-input]="toggleInvalidPrice">
              </div>
            </div>
            <div class="col-4 col-sm-6 d-flex align-items-center p-0">
              <mdb-checkbox [default]="true" formControlName="detail">
                Detalle
              </mdb-checkbox>
            </div>
        </div>
      </form>

    </div>
  </div>
  <!-- ------------------------------- -->


  <!-- BOTONES "Check, Close" -->
  <div class="card fixed-bottom sticky-top m-0 p-0 content-create-footer d-none" [class.d-none]="!toggleForm">
    <div class="card-body p-0">
      <div class="row ">
        <div class="col-8 offset-2 d-flex justify-content-between">
          <a (click)="toggleForm = !toggleForm"><i class="fas fa-times"></i></a>
          <a (click)="addMobil(newBuyerForm)">
            <i class="fas fa-check"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------------------- -->

  <!-- BOTON "Añadir Celular" -->
  <div class="card fixed-bottom sticky-top content-create-footer pointer d-none" tabindex="0" [class.d-none]="toggleForm"
  (click)="toggleForm = !toggleForm; showForm()">
    <div class="card-body p-0">
      <div class="row ">
        <div class="col-12">
          <i class="fas fa-plus-circle"></i>
          Añadir celular
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------------------- -->


</div>

<!-- MODAL EDITAR CELULAR EN LISTA COMPRA -->
<div class="modal" role="dialog" id="editItemBuyModal">
  <div class="modal-dialog" role="document">
    <form [formGroup]="newBuyerForm">

      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="editItemBuyModal">  N° {{productId}}</h5>
          <div class="mr-5">
            <a  data-dismiss="modal" (click)="deleteMobil(newBuyerForm.value)">
              <i class="far fa-trash-alt"></i></a>
            </div>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-sm-5">
                  <div class="md-form">
                    <input type="text" class="form-control" mdbInput  tabindex="1" id="model"
                    formControlName="model">
                    <label for="model">Modelo</label>
                      <div *ngIf="this.validateForm('model')">
                      <p class="alert-modal">Ingrese modelo de celular</p>
                    </div>
                  </div>


                </div>
                <div class=" col-8 col-sm-5">
                  <div class="md-form">
                    <input type="number" class="form-control" mdbInput id="price_buyer" tabindex="2"
                    formControlName="price_buyer">
                    <label for="price_buyer">Precio compra</label>

                    <div
                      *ngIf="this.validateForm('price_buyer')">
                      <p class="alert-modal">Ingrese precio de compra</p>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-2 d-flex align-items-center justify-content-center p-0">
                  <mdb-checkbox [default]="true"
                  formControlName="detail">
                    Detalle
                  </mdb-checkbox>
                </div>
            </div>
        </div>

        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <div class="col-8 offset-2 d-flex justify-content-around" >
                <button class="btn btn-danger" data-dismiss="modal" (click)="cancelUpdateMobil()">Cancelar</button>
                <button class="btn btn-primary" data-dismiss="modal" (click)="updateMobil(newBuyerForm.value)">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

  </form>

  </div>
</div>
  <!-- ------------------------------- -->






