<div class="container-fluid header-content">
    <div class="row">
        <div class="card col-md-12 pt-2">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <h5>Total</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 total_list">
                            <ul class="d-flex justify-content-between">
                                <li>
                                    <p>Equipos</p>
                                    <p>15</p>
                                </li>
                                <li>
                                    <p>Gasto</p>
                                    <p>s/2200.00</p>
                                </li>
                                <li>
                                    <p>Compra</p>
                                    <p>s/2000.00</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid body-content">
    <div class="row">
        <div class="card col-md-12">

            <div class="row d-flex justify-content-center">

                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped" mdbTable mdbTableScroll scrollY="false"
                            maxHeight="">

                            <thead>
                                <tr>
                                    <th scope="col" class="align-middle table_number">#</th>
                                    <th scope="col" class="align-middle">Marca<br>Modelo</th>
                                    <th scope="col" class="align-middle table_detail">Detalle</th>
                                    <th scope="col" class="align-middle">Precio</th>
                                    <th scope="col" class="align-middle text-center">Acción</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td scope="col" class="align-middle">1</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a [routerLink]="['/buyers/1/1']" routerLinkActive="router-link-active">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">2</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a data-toggle="modal" data-target="#modalPrueba">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">3</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">4</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">5</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">6</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">7</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">8</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">9</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">10</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">11</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">12</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">13</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">14</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">15</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">16</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">17</td>
                                    <td scope="col" class="align-middle">A10</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="align-middle">18</td>
                                    <td scope="col" class="align-middle">Ultimo</td>
                                    <td scope="col" class="align-middle">x</td>
                                    <td scope="col" class="align-middle">s/100</td>
                                    <td class="align-middle text-center">
                                        <a><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid footer-content">
    <div class="row">
        <div class="card col-md-12 mb-0">
            <div class="row">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-between align-items-center">
                            <a [routerLink]="['/buyers']"> Atras</a>
                            <h4>Lista 1 @show-list</h4>
                            <div>
                                <button class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
