table th, td{
  text-align: center;
}

table th{
  padding-left:0 ;
  padding-right: 0;
  // width: 1%;
}

.table-show-buy .model{
  margin: 0;
  text-align: initial;
  padding: 7px 0;
}
.model p{
  margin: 0;
}


.dropdown-menu{
  top: -100% !important;
  left: -100% !important;
}
.dropdown-menu i{
  color: #4285F4;
}
.activex{
  background: blue !important;
}

